<form class="mt-4" (ngSubmit)="addEvent()" [formGroup]="eventForm">

    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Enter title" formControlName="title"
            [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}">
        @let titleErrors = eventForm.get('title')?.errors;

        @if(titleErrors?.['required']) {

        <div class="invalid-feedback">Title is required</div>
        }

        @if(titleErrors?.['minlength']) {
        <div class="invalid-feedback">
            Write at least
            {{titleErrors?.['minlength'].requiredLength - titleErrors?.['minlength'].actualLength}}
            more characters
        </div>
        }
        @if(titleErrors?.['pattern']) {
        <div class="invalid-feedback">Title may only have letters and spaces</div>
        }
    </div>

    <div class="mb-3">
        <label for="date" class="form-label">Date</label>
        <input type="date" class="form-control" id="date" formControlName="date"
            [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}">
        @let dateErrors = eventForm.get('date')?.errors;
        @if(dateErrors?.['required']) {
        <div class="invalid-feedback">Date is required</div>
        }

        @if (dateErrors?.['minDate']) {
        <div class="invalid-feedback">The date must be from today {{todayDate |date:'MM/dd/yyyy'}}</div>
        }
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" rows="3" formControlName="description"
            [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}"></textarea>
        @let descErrors = eventForm.get('description')?.errors;
        @if(descErrors?.['required']) {
        <div class="invalid-feedback">Description is required</div>
        }
    </div>

    <div class="mb-3">
        <label for="price" class="form-label">Price (in €)</label>
        <input type="number" class="form-control" id="price" max="10000.00" step="0.01" formControlName="price"
            [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}" />
        @let priceErrors = eventForm.get('price')?.errors;
        @if(priceErrors?.['required']) {
        <div class="invalid-feedback">Price is required</div>
        }
        @if(priceErrors?.['min']) {
        <div class="invalid-feedback">Price must be higher than 0</div>
        }
    </div>

    <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input type="file" class="form-control" id="image" encodeBase64 (encoded)="eventImageBase64 = $event"
            (change)="handleFileInputChange($event)" formControlName="image"
            [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}">
        @let imageErrors = eventForm.get('image')?.errors;
        @if(imageErrors?.['required']) {
        <div class="invalid-feedback">Image is required</div>
        }
    </div>

    @if(eventImageBase64) {
    <img [src]="eventImageBase64" alt="" class="img-thumbnail mb-3 rounded mx-auto d-block max"
        style="max-width: 200px;">
    }
    <div class="mb-3">
        <ol-map [coordinates]="eventCoordinates()">
            <ga-autocomplete (locationChange)="handlePlaceChange($event)"></ga-autocomplete>
            <ol-marker [coordinates]=" eventCoordinates()"></ol-marker>
        </ol-map>
    </div>


    <div class="d-grid gap-2 ">
        <button type="submit" class="btn btn-primary" [disabled]="eventForm.invalid">Create</button>
    </div>

</form>

