<!-- <form class="mt-4" #eventForm="ngForm" (ngSubmit)="addEvent()">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      name="title"
      id="title"
      placeholder="Enter title"
      required
      minlength="5"
      pattern="^[a-zA-Z][a-zA-Z ]*$"
      [(ngModel)]="newEvent.title"
      #titleModel="ngModel"
      [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}"
    />
    @if(titleModel.errors?.['required']) {
      <div class="invalid-feedback">
        Title is required.
      </div>
    } @if(titleModel.errors?.['minlength']) {
      <div class="invalid-feedback">
        You must enter at least
        {{titleModel.errors?.['minlength'].requiredLength - titleModel.errors?.['minlength'].actualLength}}
        characters more.
      </div>
    } @if(titleModel.errors?.['pattern']) {
      <div class="invalid-feedback">
        Title can only contain letters and spaces.
      </div>
    }
  </div>
  <div class="mb-3">
    <label for="date" class="form-label">Date</label>
    <input
      type="date"
      class="form-control"
      id="date"
      name="date"
      required
      [minDate]="today"
      [(ngModel)]="newEvent.date"
      #dateModel="ngModel"
      [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}"
    />
    @if(dateModel.errors?.['required']) {
      <div class="invalid-feedback">
        Date is required.
      </div>
    } @if(dateModel.errors?.['minDate']) {
      <div class="invalid-feedback">
        Date must be at least {{today | date:'dd/MM/yyyy'}}
      </div>
    }
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea
      class="form-control"
      id="description"
      name="description"
      rows="3"
      required
      [(ngModel)]="newEvent.description"
      [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}"
    ></textarea>
    <div class="invalid-feedback">Description is required.</div>
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price (in €)</label>
    <input
      type="number"
      class="form-control"
      id="price"
      name="price"
      min="0.01"
      max="10000.00"
      step="0.01"
      required
      [(ngModel)]="newEvent.price"
      [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}"
    />
    <div class="invalid-feedback">Price must be a positive number.</div>
  </div>
  <div class="mb-3">
    <label for="image" class="form-label">Image</label>
    <input
      type="file"
      class="form-control"
      id="image"
      name="image"
      required
      ngModel
      encodeBase64
      (encoded)="newEvent.image = $event"
      [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}"
    />
    <div class="invalid-feedback">An image is required.</div>
  </div>
  @if(newEvent.image) {
    <img [src]="newEvent.image" alt="" class="img-thumbnail mb-3" />
  }
  <div>
    <button type="submit" class="btn btn-primary" [disabled]="eventForm.invalid">Create</button>
  </div>
</form> -->
