<form class="mt-4" (ngSubmit)="addEvent()" [formGroup]="eventForm">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      formControlName="title"
      placeholder="Enter title"
      [validationClasses]="{
        valid: 'is-valid',
        invalid: 'is-invalid'
      }"
    />

    @let titleErrors = eventForm.get('title')?.errors;
    @if(titleErrors?.['required']) {
    <div class="invalid-feedback">Title cannot be empty</div>
    } @if(titleErrors?.['pattern']) {
    <div class="invalid-feedback">
      Title must start with a letter and can only contain letters and spaces
    </div>
    } @else if (titleErrors?.['minlength']){
    <div class="invalid-feedback">
      You must enter at least
      {{titleErrors?.['minlength'].requiredLength - titleErrors?.['minlength'].actualLength}}
      characters more
    </div>
    }
  </div>

  <div class="mb-3">
    <label for="date" class="form-label">Date</label>
    <input
      type="date"
      class="form-control"
      formControlName="date"
      placeholder="Enter date"
      [validationClasses]="{
        valid: 'is-valid',
        invalid: 'is-invalid'
      }"
    />

    @let dateErrors = eventForm.get('date')?.errors; @if
    (dateErrors?.['required']) {
    <div class="invalid-feedback">Date is required.</div>
    } @if (dateErrors?.['minDate']) {
    <div class="invalid-feedback">
      The date can't be before {{ todayDate | date : "dd/MM/yyyy" }}
    </div>
    }
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea
      class="form-control"
      rows="3"
      formControlName="description"
      [validationClasses]="{
        valid: 'is-valid',
        invalid: 'is-invalid'
      }"
    ></textarea>

    @let descErrors = eventForm.get('description')?.errors; @if
    (descErrors?.['required']) {
    <div class="invalid-feedback">Description is required.</div>
    }
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price (in €)</label>
    <input
      type="number"
      class="form-control"
      step="0.01"
      formControlName="price"
      [validationClasses]="{
        valid: 'is-valid',
        invalid: 'is-invalid'
      }"
    />

    @let priceErrors = eventForm.get('price')?.errors; @if
    (priceErrors?.['required']) {
    <div class="invalid-feedback">Price is required.</div>
    } @if (priceErrors?.['min']) {
    <div class="invalid-feedback">Price must be a positive number.</div>
    }
  </div>

  <div class="mb-3">
    <label for="image" class="form-label">Image</label>
    <input
      type="file"
      formControlName="image"
      #fileInput
      encodeBase64
      (encoded)="imageBase64 = $event"
      class="form-control"
      id="image"
      name="image"
      [validationClasses]="{
        valid: 'is-valid',
        invalid: 'is-invalid'
      }"
      formControlName="image"
      (change)="checkImage(fileInput)"
    />

    @let imageErrors = eventForm.get('image')?.errors; @if
    (imageErrors?.['required']) {
    <div class="invalid-feedback">An image is required.</div>
    }
  </div>

  @if (imageBase64) {
  <img [src]="imageBase64" alt="" id="imgPreview" class="img-thumbnail mb-3" />
  }
  <div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="eventForm.invalid"
    >
      Create
    </button>
  </div>
</form>
